*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    list-style: none;

    
}

@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngRUXNadjH0qYEzV7ab-oWlsYCB.ttf) format('truetype');
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  body {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
  }
  a {
    color: lightgray;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  img {
    width: auto;
    max-width: 100%;
  }
/* CSS Reset */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
  color: black;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

/* Start */
.container {
  padding: 0 10rem;
}

.topnav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 10rem;
}

.topnav--subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav--subsection a.icon {
  background: url(https://cdn.rawgit.com/ivorpad/b9adce880f800f53195041a4ed8546c9/raw/a905a3b479ab7880340856a3d15369a932f7b24c/ham.svg) center center no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: none;
}

.topnav--subsection nav a {
  transition: border 0.1s ease-in-out;
}
.topnav--subsection nav a:hover {
  border-bottom: 1px solid #161616;
}

.topnav--subsection nav a,
.shop-item--container .meta > span {
  text-transform: uppercase;
}

.topnav--subsection nav a.active {
  color: white;
  border-bottom: 1px solid grey;
}

.topnav--subsection .branding {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
}

.topnav--subsection nav:not(.branding) a,
.shop-item--container .meta span {
  font-size: 1.15rem;
  letter-spacing: 1px;
}

.topnav--subsection nav:first-child a {
  margin-right: 1.5rem;
}

.topnav--subsection nav:nth-last-child(2) a {
  margin-left: 1.5rem;
}

.banner {
  background: #f1f1f1;
  padding: 5rem;
  margin-top: 8rem;
}
.banner .slide {
  display: flex;
  justify-content: space-around;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.banner p {
  color: black;
}

.slide img {
  width: 30%;
  height: 30%;
  align-self: center;
}

.slide .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.shop-items {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(360px, 1fr));
  gap: 3rem;
  grid-gap: 3rem;
  grid-auto-rows: 360px;
}

.shop-item {
  display: flex;
  flex-direction: column;
}

.shop-item--container {
  background: #f1f1f1;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  transition: all 0.15s ease-in-out;
}

.shop-item--container:hover {
  background: #f6f6f6;
}

.shop-item--container .meta {
  display: flex;
  justify-content: space-between;
}

.shop-item--container .meta > span {
  font-weight: bold;
}

.shop-item h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  margin: 0.8rem;
}
.shop-item h3 a:hover {
  color: black;
}

.shop-item .price {
  text-align: center;
}

.shop-item .title > a {
  display: block;
}

.shop-item .price span {
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-size: 1.3rem;
}

.shop-item--container img {
  align-self: center;
  margin: auto 0;
}

.main-footer {
  margin: 7rem 0;
  padding-top: 5rem;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
  
  

}

.main-footer > nav ul {
  padding-left: 0;
  list-style: none;
}

.main-footer > nav ul li {
  margin-bottom: 1rem;
}

.main-footer > nav ul li a {
  color: black;
  font-size: 1.2rem;
}
.main-footer > nav ul li a:hover {
  color: #010101;
}

.main-footer h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
}

/**
 * Media Queries
 */
@media (min-width: 1350px) {
  .shop-items {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .topnav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav.menu,
.user-engagement {
    display: none;

  }


  .topnav--subsection a.icon {
    display: block;
  }
}
@media (max-width: 895px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media (max-width: 425px) {
  .slide img {
    display: none;
  }

  .slide .left {
    width: 100%;
  }

  .main-footer {
    display: flex;
    flex-direction: column;
  }

  .shop-item .title h3 {
    font-size: 1.5rem;
  }

  .shop-item .price span {
    font-size: 1.5rem;
  }

  .main-footer > nav ul li a {
    background: #f1f1f1;
    display: block;
    padding: 1.5rem;
    color: grey;
    font-size: 1.5rem;
  }
  .main-footer > nav ul li a:hover {
    color: grey;
  }

  .main-footer h3 {
    font-size: 1.5rem;
  }

  .slide .description {
    width: 100%;
  }
}
  

nav {
  
    background-color:#2d3142;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center ;



  }
 
  nav ul{
    display: flex;
    list-style: none;
    gap: 10px;

  }
  nav ul li{
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }
  nav ul li a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;

  }
  nav .navLinks button{
    padding: 2px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    margin-left: 10px;
    background-color:burlywood ;
}
nav ul li:hover{
    background-color: white;
}
nav ul li a:hover{
        color: #2d3142;

}
nav .menubtn{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
  }
   
  /* responsive navbar css */
  @media screen and (max-width: 600px) {
    nav .menubtn{
      display: flex;
    }
    nav .navLinks{
      display: none;
    }
    .sideNav {
      display: block !important;
    }
  }
   
  .sideNav{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: rgb(44, 1, 197);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
  }
   
  .sideNav a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: white;
    transition: 0.3s;
    text-decoration: none;
  }
  .sideNav a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: blue;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
  }
  .sideNav a:hover{
    color: white;
  }
  .sideNav .closeBtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
   
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
  }
  .row .column1 {
    padding-right: 50px;
  }
  .column1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .column1 p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .column1 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: blue;
    font-size: 17px;
    font-weight: 600;
  }
  /* Header content responsive */
  @media screen and (max-width: 980px) {
    .column2 img {
      width: 350px;
    }
    .column1 h1 {
      font-size: 40px;
    }
    .column1 p{
      font-size: 17px;
    }
    .row {
      margin-top: 80px;
    }
  }
   
  @media screen and (max-width: 600px) {
   
    .column1 h1 {
      font-size: 35px;
    }
    .row {
      flex-direction: column;
   
    }
    .row .column1 {
      padding: 30px;
    }
  }
/*navbar/*